<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Working with a real world data-set using SQL and Python

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Understand the dataset for Chicago Public School level performance
-   Store the dataset in an Db2 database on IBM Cloud instance
-   Retrieve metadata about tables and columns and query data from mixed case columns
-   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**: 

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/data/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv">link</a>.

Now review some of its contents.

### Store the dataset in a Table

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called **SCHOOLS**.

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://vcm60146:jfkx97p4v%2Bl255bk@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [27]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [107]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select name, coltype, length  from sysibm.syscolumns  where tbname ='SCHOOLS'

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('School_ID', 'INTEGER ', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR ', 65),
 ('Elementary, Middle, or High School', 'VARCHAR ', 2),
 ('Street_Address', 'VARCHAR ', 30),
 ('City', 'VARCHAR ', 7),
 ('State', 'VARCHAR ', 2),
 ('ZIP_Code', 'INTEGER ', 4),
 ('Phone_Number', 'VARCHAR ', 14),
 ('Link', 'VARCHAR ', 78),
 ('Network_Manager', 'VARCHAR ', 40),
 ('Collaborative_Name', 'VARCHAR ', 34),
 ('Adequate_Yearly_Progress_Made_', 'VARCHAR ', 3),
 ('Track_Schedule', 'VARCHAR ', 12),
 ('CPS_Performance_Policy_Status', 'VARCHAR ', 16),
 ('CPS_Performance_Policy_Level', 'VARCHAR ', 15),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR ', 3),
 ('Safety_Icon', 'VARCHAR ', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('Family_Involvement_Icon', 'VARCHAR ', 11),
 ('Family_Involvement_Score', 'VARCHAR ', 3),
 ('Environment_Icon', 'VARCHAR ', 11),
 ('Environment_Score', 'SMALLINT', 2),
 ('Instruction_Icon', 'VARCHAR ', 11),
 ('Instruction_Score', 'SMALLINT', 2),
 ('Leaders_Icon', 'VARCHAR ', 11),
 ('Leaders_Score', 'VARCHAR ', 3),
 ('Teachers_Icon', 'VARCHAR ', 11),
 ('Teachers_Score', 'VARCHAR ', 3),
 ('Parent_Engagement_Icon', 'VARCHAR ', 7),
 ('Parent_Engagement_Score', 'VARCHAR ', 3),
 ('Parent_Environment_Icon', 'VARCHAR ', 7),
 ('Parent_Environment_Score', 'VARCHAR ', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR ', 6),
 ('Rate_of_Misconducts__per_100_students_', 'DECIMAL ', 5),
 ('Average_Teacher_Attendance', 'VARCHAR ', 6),
 ('Individualized_Education_Program_Compliance_Rate', 'VARCHAR ', 7),
 ('Pk_2_Literacy__', 'VARCHAR ', 4),
 ('Pk_2_Math__', 'VARCHAR ', 4),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR ', 4),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR ', 4),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR ', 4),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR ', 4),
 ('Gr6_8_Grade_Level_Math__', 'VARCHAR ', 4),
 ('Gr6_8_Grade_Level_Read__', 'VARCHAR ', 4),
 ('Gr6_8_Keep_Pace_Math_', 'VARCHAR ', 4),
 ('Gr6_8_Keep_Pace_Read__', 'VARCHAR ', 4),
 ('Gr_8_Explore_Math__', 'VARCHAR ', 4),
 ('Gr_8_Explore_Read__', 'VARCHAR ', 4),
 ('ISAT_Exceeding_Math__', 'DECIMAL ', 4),
 ('ISAT_Exceeding_Reading__', 'DECIMAL ', 4),
 ('ISAT_Value_Add_Math', 'DECIMAL ', 3),
 ('ISAT_Value_Add_Read', 'DECIMAL ', 3),
 ('ISAT_Value_Add_Color_Math', 'VARCHAR ', 6),
 ('ISAT_Value_Add_Color_Read', 'VARCHAR ', 6),
 ('Students_Taking__Algebra__', 'VARCHAR ', 4),
 ('Students_Passing__Algebra__', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR ', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR ', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR ', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'VARCHAR ', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR ', 4),
 ('Net_Change_PLAN_and_ACT', 'VARCHAR ', 3),
 ('College_Eligibility__', 'VARCHAR ', 4),
 ('Graduation_Rate__', 'VARCHAR ', 4),
 ('College_Enrollment_Rate__', 'VARCHAR ', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('General_Services_Route', 'SMALLINT', 2),
 ('Freshman_on_Track_Rate__', 'VARCHAR ', 4),
 ('X_COORDINATE', 'DECIMAL ', 13),
 ('Y_COORDINATE', 'DECIMAL ', 13),
 ('Latitude', 'DECIMAL ', 18),
 ('Longitude', 'DECIMAL ', 18),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR ', 22),
 ('Ward', 'SMALLINT', 2),
 ('Police_District', 'SMALLINT', 2),
 ('Location', 'VARCHAR ', 27)]

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "_"?

In [24]:
%%sql
select * from SCHOOLS limit 5;

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Strong', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', Decimal('15.7'), '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', Decimal('2.3'), '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', Decimal('18.3'), Decimal('15.5'), Decimal('-0.9'), Decimal('-1.0'), 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', Decimal('1148427.165'), Decimal('1851012.215'), Decimal('41.74711093'), Decimal('-87.73170248'), 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56, 'Average', '44', 'Average', 45, 'Weak', 37, 'Strong', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', Decimal('10.4'), '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', Decimal('11.1'), Decimal('9.6'), Decimal('0.9'), Decimal('2.4'), 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', Decimal('1164504.290'), Decimal('1873959.199'), Decimal('41.80975690'), Decimal('-87.67214460'), 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49, 'Strong', '60', 'Strong', 60, 'Average', 55, 'Average', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', Decimal('15.6'), '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', Decimal('1175177.622'), Decimal('1880745.126'), Decimal('41.82814609'), Decimal('-87.63279369'), 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [51]:
%%sql
select COUNT(*) as "Count_ES" from SCHOOLS
where "Elementary, Middle, or High School"= 'ES';

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('462'),)]

### Problem 2

##### What is the highest Safety Score?

In [54]:
%%sql
    
select MAX(SAFETY_SCORE) as "highest Safety Score" from SCHOOLS

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(99,)]

### Problem 3

##### Which schools have highest Safety Score?

In [53]:
%%sql
    
select name_of_school, SAFETY_SCORE from SCHOOLS
    where SAFETY_SCORE = (select MAX(SAFETY_SCORE) from SCHOOLS);

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 99),
 ('Alexander Graham Bell Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Sauganash Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [61]:
%%sql

select name_of_school, AVERAGE_STUDENT_ATTENDANCE from SCHOOLS 
   order by "AVERAGE_STUDENT_ATTENDANCE" desc nulls last limit 10 ;

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [65]:
%%sql

select name_of_school, AVERAGE_STUDENT_ATTENDANCE from SCHOOLS 
   order by "AVERAGE_STUDENT_ATTENDANCE" fetch first 5 rows only;

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [68]:
%%sql
select name_of_school, replace(AVERAGE_STUDENT_ATTENDANCE, '%', '') as "AVERAGE_STUDENT_ATTENDANCE" from SCHOOLS
    order by "AVERAGE_STUDENT_ATTENDANCE" fetch first 5 rows only;

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [79]:
%%sql 
select name_of_school, AVERAGE_STUDENT_ATTENDANCE from SCHOOLS   
    where DECIMAL(replace(AVERAGE_STUDENT_ATTENDANCE, '%', ''))< 70  -- to numeric comparison 
    order by AVERAGE_STUDENT_ATTENDANCE

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]

### Problem 8

##### Get the total College Enrollment for each Community Area

In [98]:
%%sql 
select Community_Area_Name, sum(College_Enrollment) AS "TOTAL_ENROLLMENT"  from SCHOOLS
group by Community_Area_Name
order by TOTAL_ENROLLMENT desc

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('SOUTH LAWNDALE', 14793),
 ('BELMONT CRAGIN', 14386),
 ('AUSTIN', 10933),
 ('GAGE PARK', 9915),
 ('BRIGHTON PARK', 9647),
 ('WEST TOWN', 9429),
 ('HUMBOLDT PARK', 8620),
 ('WEST RIDGE', 8197),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('IRVING PARK', 7764),
 ('NORTH CENTER', 7541),
 ('LOGAN SQUARE', 7351),
 ('LOWER WEST SIDE', 7257),
 ('CHICAGO LAWN', 7086),
 ('LAKE VIEW', 7055),
 ('ROSELAND', 7020),
 ('PORTAGE PARK', 6954),
 ('ALBANY PARK', 6864),
 ('ENGLEWOOD', 6832),
 ('ASHBURN', 6483),
 ('NORWOOD PARK', 6469),
 ('WEST ENGLEWOOD', 5946),
 ('LINCOLN PARK', 5615),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('NORTH LAWNDALE', 5146),
 ('CHATHAM', 5042),
 ('ARCHER HEIGHTS', 4823),
 ('DOUGLAS', 4670),
 ('EDGEWATER', 4600),
 ('DUNNING', 4568),
 ('GARFIELD RIDGE', 4552),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('KENWOOD', 4287),
 ('NORTH PARK', 4210),
 ('WEST LAWN', 4207),
 ('WOODLAWN', 4206),
 ('AUBURN GRESHAM', 4175),
 ('LINCOLN SQUARE', 4132),
 ('ROGERS PARK', 4068),
 ('GREATER GRAND CROSSING', 4051),
 ('SOUTH CHICAGO', 4043),
 ('WASHINGTON HEIGHTS', 4006),
 ('HERMOSA', 3975),
 ('WEST ELSDON', 3700),
 ('AVONDALE', 3640),
 ('NEAR NORTH SIDE', 3362),
 ('MORGAN PARK', 3271),
 ('WEST PULLMAN', 3240),
 ('BRIDGEPORT', 3167),
 ('GRAND BOULEVARD', 2809),
 ('WASHINGTON PARK', 2648),
 ('WEST GARFIELD PARK', 2622),
 ('MOUNT GREENWOOD', 2091),
 ('CLEARING', 2085),
 ('HYDE PARK', 1930),
 ('SOUTH DEERING', 1859),
 ('JEFFERSON PARK', 1755),
 ('BEVERLY', 1636),
 ('PULLMAN', 1620),
 ('CALUMET HEIGHTS', 1568),
 ('MCKINLEY PARK', 1552),
 ('RIVERDALE', 1547),
 ('AVALON PARK', 1522),
 ('ARMOUR SQUARE', 1458),
 ('FOREST GLEN', 1431),
 ('NEAR SOUTH SIDE', 1378),
 ('MONTCLARE', 1317),
 ('HEGEWISCH', 963),
 ('EDISON PARK', 910),
 ('LOOP', 871),
 ('OHARE', 786),
 ('BURNSIDE', 549),
 ('FULLER PARK', 531),
 ('OAKLAND', 140)]

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [99]:
%%sql 
select Community_Area_Name, sum(College_Enrollment) AS "TOTAL_ENROLLMENT"  from SCHOOLS
group by Community_Area_Name
order by TOTAL_ENROLLMENT fetch first 5 rows only;

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

### Problem 10

##### Get the hardship index for the community area which has College Enrollment of 4368

In [109]:
# For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table as created in the last lab of Week 3 should already exist
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select name, coltype, length  from sysibm.syscolumns  where tbname ='CHICAGO_SOCIOECONOMIC_DATA'

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('index', 'BIGINT  ', 8),
 ('CA', 'DOUBLE  ', 8),
 ('COMMUNITY_AREA_NAME', 'CLOB    ', -1),
 ('PERCENT_OF_HOUSING_CROWDED', 'DOUBLE  ', 8),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'DOUBLE  ', 8),
 ('PERCENT_AGED_16_UNEMPLOYED', 'DOUBLE  ', 8),
 ('PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA', 'DOUBLE  ', 8),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'DOUBLE  ', 8),
 ('PER_CAPITA_INCOME_', 'BIGINT  ', 8),
 ('HARDSHIP_INDEX', 'DOUBLE  ', 8)]

In [116]:
#SAMPLE DATA OF CHICAGO_SOCIOECONOMIC_DATA

%sql select * from CHICAGO_SOCIOECONOMIC_DATA limit 5

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(0, 1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (1, 2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (2, 3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (3, 4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (4, 5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

In [120]:
#SAMPLE DATA OF SCHOOLS

%sql  select * from SCHOOLS limit 3

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Strong', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', Decimal('15.7'), '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', Decimal('2.3'), '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', Decimal('18.3'), Decimal('15.5'), Decimal('-0.9'), Decimal('-1.0'), 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', Decimal('1148427.165'), Decimal('1851012.215'), Decimal('41.74711093'), Decimal('-87.73170248'), 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)')]

In [128]:
%%sql

select C.HARDSHIP_INDEX, C.COMMUNITY_AREA_NAME, S.College_Enrollment 
from  CHICAGO_SOCIOECONOMIC_DATA C inner join SCHOOLS S
     on C.ca = S.community_area_number and S.College_Enrollment = 4368;

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(6.0, 'North Center', 4368)]

### Problem 11

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [130]:
%%sql

select C.HARDSHIP_INDEX, C.COMMUNITY_AREA_NAME, S.College_Enrollment 
from  CHICAGO_SOCIOECONOMIC_DATA C inner join SCHOOLS S
     on C.ca = S.community_area_number and S.College_Enrollment = (select MAX(College_Enrollment) from SCHOOLS );

 * ibm_db_sa://vcm60146:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(6.0, 'North Center', 4368)]